body {
      background-color: #E0E26D;
      height: 100vh;
      padding-top: 5vh;
      }

[v-cloak] {
    display: none
}

.bowl {
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 0.6rem solid rgba(10,10,10,0.2);
  padding: 1.2rem;
  z-index: 10;
}

#b1 {
  background-color: #8A80B9;
}

#b2 {
  background-color: #ED8681;
}

#b3 {
  background-color: #9CCCB7;
}

#b4 {
  background-color: #9DC6E5;
}

#b5 {
  background-color: #E1E47F;
}

.coin {
  width: 1rem;
  height: 1rem;
  background-color: #E8CD00;
  border-radius: 1rem;
  z-index: 0;
}

.hide {
  background-color: rgba(0,0,0,0) !important;
}

#result {
    margin-top: 2rem;
}
