body {
      background-color: #E0E26D;
      height: 100vh;
      padding-top: 5vh;
      }

[v-cloak] {
    display: none
}

#result {
    margin-top: 2rem;
}

.coin {
  width: 1rem;
  height: 1rem;
  background-color: #E8CD00;
  border-radius: 1rem;
  z-index: 0;
}

.hide {
  background-color: rgba(0,0,0,0) !important;
}